.botao {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700px;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
}

.botao:hover {
    color: #95FFD4;
}

/*
:hover
quando tiver hover(com o mouse em sima)
ele ira realizar uma ação
*/